<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">User Vehicle</h1>
            <span class="mainDescription">User Vehicle</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>


<div class="container-fluid container-fullw bg-white" ng-controller="vehicleController">
    <div class="col-md-4">
       <div class="form-group">
            <input type="text" placeholder="User Email" id="form-field-13" class="form-control underline input-sm" ng-model="userid" />
        </div>
        <div class="form-group pull-right">
            <button type="submit" ng-click="viewUserVehicle(userid)" class="form-group btn btn-o btn-primary">
                Search
            </button>
        </div>
     </div>

    <div class="col-md-12"  >
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                	<th>ID </th>
                    <th>Vehicle Number </th>
                    <th>Parking Slot </th>
                    <th>Status </th>
                    <th>Type </th>
                    <th>UserName</th>
                    <th>ContactNumber</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vehicle in allVehicles" style="cursor: pointer;" ng-click="redirectToVehicle(vehicle.vehicle_uniquieid)"> 
                	<td>{{vehicle.vehicleid}} </td>
                    <td>{{vehicle.vehiclenumber}} </td>
                    <td>{{vehicle.parkingslot}} </td>
                    <td>{{vehicle.status}} </td>
                    <td>{{vehicle.type}} </td>
                    <td>{{vehicle.user.firstname}} </td>
                    <td>{{vehicle.user.contact_no}} </td>
                    <td>{{vehicle.user.email}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>