<!-- start: LOGIN -->
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <!-- start: LOGIN BOX -->
        <div class="box-login" ng-controller="LoginController" ng-init="getSociety()">
            <div class="logo">
                <img ng-src="{{app.logo}}" alt="{{app.name}}" height="80" width="80" /> {{app.name}}
            </div>
            <form class="form-login" ng-submit="authenticate()">
                <fieldset>
                    <legend>
                        Sign in to your account
                    </legend>
                    <div style="text-align:center">
                        <script type="text/ng-template" id="asideContent.html">
                            <div class="modal-header">
                            <h3 class="modal-title">Society Focus Demo Credenitals</h3>
                            </div>
                            <div class="modal-body">
                            Username:: test1@demo.com <br/>
                            Password:: 123456<br/>
                            Society :: SRS Residency Demo<br/>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </script>

                        <button type="button" class="btn btn-wide btn-primary btn-scroll-top ti-arrow-right" ng-click="openAside('right')">
                            Click For Demo Credenitals
                        </button><br/><br/>
                        <!-- <nav class="links cl-effect-1">
                            <a href>Username: test1@demo.com</a>
                            <a href>password: test123</a>
                            <a href>society : SRS Residency Demo</a>
                        </nav> -->
                    </div>

                    <p>
                        Please enter your name and password to log in.
                    </p>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="text" class="form-control" ng-model="credentials.username" name="username" placeholder="Username">
                            <i class="fa fa-user"></i> </span>
                    </div>
                    <div class="form-group form-actions">
                        <span class="input-icon">
                            <input type="password" class="form-control password" ng-model="credentials.password" name="password" placeholder="Password">
                            <i class="fa fa-lock"></i>
                            </span>
                    </div>
                    <div class="form-group">
                        <label>
                            Society
                        </label>
                        <ui-select ng-model="credentials.society" theme="bootstrap">
                            <ui-select-match placeholder="Select in the list...">
                                {{$select.selected.displayname}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in society | filter: $select.search">
                                <img ng-if="item.societypic" height="25" width="25" ng-src="{{item.societypic}}" />
                                <div ng-bind-html="item.displayname | highlight: $select.search" class="optionsDiv">
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="alert alert-danger fade-in-up" ng-if="login_error">
                        <button data-ct-dismiss="alert" class="close">
                            &times;
                        </button>
                        <strong>Oh snap!</strong>
                        <a class="alert-link" href="#"> Change a few things up </a> and try submitting again.
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary pull-right">
                            Login <i class="fa fa-arrow-circle-right"></i>
                        </button>
                        <a href="http://societyfocus.com/jsf-portal/views/misc/resetPassword.xhtml" class="btn btn-primary pull-left">
                            Forgot Password <i class=""></i>
                        </a>
                        <!-- <a href="javascript:void(0);" ng-click="loginFB()" class="btn btn-primary pull-right">
                            Login With FaceBook <i class="fa fa-arrow-circle-right"></i>
                        </a> -->
                    </div>
                </fieldset>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>
 <!-- end: LOGIN -->