        <div class="container" style="margin-top: 10px" ng-controller="helpdeskController">
            <div class="tabcontainer" ng-init="getQuestions()">
                <ul class="tabs">
                    <li class="tab" style="padding: 10px; background-color: #3498db; color: #fff;">Recent Questions</li>
                </ul>
            </div>
            <div class="questiontabs" >
                <article class="question question-type-normal" ng-repeat="question in questions">
                    <h2>
                        <a href="{{constant.APP_PREFIX}}/question/{{question.id}}">{{question.title}}</a>
                    </h2>
                    <div class="question-inner">
                        <div class="clearfix"></div>
                                                             
                                <p class="question-desc">                                               
                                   {{question.query}}
                              </p>
                                   <a href="{{constant.APP_PREFIX}}/question/{{question.id}}">Show more...</a><br><br>
                                
                        <span class="question-date"><i class="icon-time"></i>{{question.createdDate|timeago}} </span>
                        <span class="question-comment" ng-show="{{question.commentCount==0}}">
                                   <a href="{{constant.APP_PREFIX}}/question/{{question.id}}"><i class="icon-comment"></i>No comment</a>
                            </span>
                            <span class="question-comment"  ng-show={{question.commentCount!=0}}>
                                   <a href="{{constant.APP_PREFIX}}/question/{{question.id}}"><i class="icon-comment"></i>{{question.commentCount}} comment</a>
                            </span> 
                        <div class="clearfix"></div>
                    </div>
                </article>
                <div class="container pageDiv">
                    <ul class="pagination margin-bottom-10">
                        <li>
                            <a href="javascript:void(0);"> Previous</a>
                        </li>
                        <li ng-repeat="n in [].constructor(totalCount) track by $index">
                            <a href="javascript:void(0);">{{ $index + 1}}</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Next </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>