<script>
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=774361825993005";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                </script>
                
<div class="text-center fb-page" data-href="https://www.facebook.com/societyfocus" data-width="600" data-hide-cover="false" data-small-header="true" data-show-facepile="true"></div>
<div class="container"  ng-controller="questionController">
	<div class="container questionContainer" style="margin: 26px auto;">
		<article class="question single-question ">
			<h4 class="pull-left">
	            <a href="javascript:void(0);">{{fullQuestion.title}}</a>
	        </h4>
	        <h4 class="pull-right">{{fullQuestion.city}}</h4>
	    	<div class="full-question">
	                            <p>
	                            	
	                                {{fullQuestion.query}}
	                            </p>
	                    </div>  

	        <span class="question-comment" ng-show="{{fullQuestion.commentCount==0}}">
	                               <a href="javascript:void(0);"><i class="icon-comment"></i>No comment</a>
	                        </span>
	                        <span class="question-comment"  ng-show={{fullQuestion.commentCount!=0}}>
	                               <a href="javascript:void(0);"><i class="icon-comment"></i>{{fullQuestion.commentCount}} comment</a>
	                        </span>
	                        <span class="pull-right comment-btn">
	                               <a href="javascript:void(0);" ng-click="scrollTo('add_comment')">Add Comment</a>
	                        </span>                
	    </article>
	   
	</div>
	<div class="container">
	    <h2>Comments</h2>
		<div class="commentContainer" ng-repeat="comment in fullQuestion.comments">
			<div class="commentBody" style="white-space: pre-wrap;">
				 <h4>{{comment.username}}</h4>
				 <div class="comment">
				 	<p>{{comment.comment}}</p>
				 </div>
			</div>
		   
		</div>	
	</div>
	 <div class="container formContainer" id="add_comment">
			<h3>Add Comment</h3>
	    	<form class="form-horizontal" >
			  <div class="form-group">
			    <label for="inputUser" class="col-sm-2 control-label">User Name :</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputUser" placeholder="User Name" ng-model="comment.username">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputEmail" class="col-sm-2 control-label">Email :</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" ng-model="comment.userEmail">
			    </div>
			  </div>
			<div class="form-group">
			    <label for="inputComment" class="col-sm-2 control-label">Comment :</label>
			    <div class="col-sm-10">
			      <textarea class="form-control" rows="3" ng-model="comment.comment"></textarea>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default" ng-click="addComment()">Add Comment</button>
			    </div>
			  </div>
			  <div class="form-group" ng-if="commentSuccess === true">
			    <div class="col-sm-offset-2 col-sm-10">
			      <span style="color:green">Comment Added Successfully</span>
			    </div>
			  </div>
			</form>
	    </div>
</div>
