<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN"> Home </span>
				</div>
			</div>
		</a>
	</li>

	<li ng-class="{'active open':$state.includes('app.ui')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.element.USER_ADMINISTATION"> UserAdministartion </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.user.view">
					<span class="title"> View All Users </span>
				</a>
			</li>

			<li ui-sref-active="active">
				<a ui-sref="app.user.search">
					<span class="title" translate="sidebar.nav.user.SEARCH_USER"> SEARCH_USER </span>
				</a>
			</li>

			<li ui-sref-active="active" access="society_admin" access-permission-type="AtLeastOne">
				<a ui-sref="app.user.edit">
					<span class="title" > Edit User </span>
				</a>
			</li>

			<li ui-sref-active="active" access="society_admin" access-permission-type="AtLeastOne">
				<a ui-sref="app.user.register">
					<span class="title" translate="sidebar.nav.user.REGISTER"> Register </span>
				</a>
			</li>


			<li ui-sref-active="active" access="society_admin" access-permission-type="AtLeastOne">
				<a ui-sref="app.user.reset_password">
					<span class="title"> Reset Password </span>
				</a>
			</li>
		</ul>
	</li>


	<li ng-class="{'active open':$state.includes('app.ui')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.element.ASSET_ADMINISTATION"> Asset Administration </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">

			<li ui-sref-active="active">
				<a ui-sref="app.asset.view">
					<span class="title"> View all </span>
				</a>
			</li>
		
			<li ui-sref-active="active" access="society_admin" access-permission-type="AtLeastOne">
				<a ui-sref="app.asset.register">
					<span class="title"> Register New Asset</span>
				</a>
			</li>

		</ul>
	</li>


	<li ng-class="{'active open':$state.includes('app.ui')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Asset Bookings </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active" access="society_admin" access-permission-type="AtLeastOne">
				<a ui-sref="app.asset.booking.view">
					<span class="title" > View all Booking </span>
				</a>
			</li>

			<li ui-sref-active="active">
				<a ui-sref="app.asset.booking.my">
					<span class="title" > View My Bookings </span>
				</a>
			</li>

			<li ui-sref-active="active">
				<a ui-sref="app.asset.booking.asset">
					<span class="title" > Book Asset </span>
				</a>
			</li>
		
			<li ui-sref-active="active" access="society_admin" access-permission-type="AtLeastOne">
				<a ui-sref="app.asset.booking.id">
					<span class="title"> Search booking By ID </span>
				</a>
			</li>

		</ul>
	</li>


	<li ng-class="{'active open':$state.includes('app.ui')}" access="society_admin" access-permission-type="AtLeastOne">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Bulk Feature </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.bulk.user">
					<span class="title" > Register User </span>
				</a>
			</li>
		</ul>
	</li>

	<li ng-class="{'active open':$state.includes('app.ui')}" access="society_admin" access-permission-type="AtLeastOne">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Vehicles </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.vehicle.add">
					<span class="title" > Add Vehicle </span>
				</a>
			</li>

			<li ui-sref-active="active">
				<a ui-sref="app.vehicle.update">
					<span class="title" > Update Vehicle </span>
				</a>
			</li>

			<li ui-sref-active="active">
				<a ui-sref="app.vehicle.comingsoon">
					<span class="title" > Get User Vehicles </span>
				</a>
			</li>

			<li ui-sref-active="active">
				<a ui-sref="app.vehicle.getmy">
					<span class="title" > Get My Vehicles </span>
				</a>
			</li>

			<li ui-sref-active="active">
				<a ui-sref="app.vehicle.comingsoon">
					<span class="title" > Get Society Entries</span>
				</a>
			</li>

			<li ui-sref-active="active">
				<a ui-sref="app.vehicle.comingsoon">
					<span class="title" > Get My Entries </span>
				</a>
			</li>
			
		</ul>
	</li>

	<li ng-class="{'active open':$state.includes('app.ui')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Complaints </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.complaint.register">
					<span class="title" > Register Complaint </span>
				</a>
			</li>

			<li ui-sref-active="active" access="society_admin" access-permission-type="AtLeastOne">
				<a ui-sref="app.complaint.viewall">
					<span class="title" > View All Complaints </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.complaint.my">
					<span class="title" > View My Complaints </span>
				</a>
			</li>
			<li ui-sref-active="active" access="society_admin" access-permission-type="AtLeastOne">
				<a ui-sref="app.complaint.search">
					<span class="title"> Viw Complaint By ID </span>
				</a>
			</li>
		</ul>
	</li>
</ul>