<!-- start: TOP NAVBAR -->
<!-- start: NAVBAR HEADER -->
<div class="navbar-header">
    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" ng-click="toggle('sidebar')" class="btn btn-navbar sidebar-toggle"> <i class="ti-align-justify"></i> </a>
    <a class="navbar-brand" ui-sref="app.dashboard"> 
    	<img alt="{{app.name}}" />
    </a>
    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed"> <i class="ti-align-justify"></i> </a>
    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed"> <span class="sr-only">Toggle navigation</span> <i class="ti-view-grid"></i> </a>
</div>
<!-- end: NAVBAR HEADER -->
<!-- start: NAVBAR COLLAPSE -->
<div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler">
    <ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
        <!-- start: LANGUAGE SWITCHER -->
        <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" uib-dropdown-toggle> <i class="ti-world"></i> {{language.selected}} </a>
            <ul role="menu" class="dropdown-menu dropdown-light fadeInUpShort">
                <li ng-repeat="(localeId, langName) in language.available">
                    <a ng-click="language.set(localeId, $event)" href="#" class="menu-toggler"> {{langName}} </a>
                </li>
            </ul>
        </li>
        <!-- start: LANGUAGE SWITCHER -->
        <!-- start: USER OPTIONS DROPDOWN -->
        <li class="dropdown current-user" uib-dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" uib-dropdown-toggle> <img src="resources/images/logo.png" alt="{{user.name}}"> <span class="username">{{user.name}} <i class="ti-angle-down"></i></i></span> </a>
            <ul class="dropdown-menu dropdown-dark">
                <li ui-sref-active="active">
                    <a ui-sref="app.user.settings" translate="topbar.user.SETTINGS"> Settings </a>
                </li>
                <li ng-controller="LoginController">
                    <a translate="topbar.user.LOGOUT" ng-click="logout()">Log Out</a>
                    <!-- <a translate="topbar.user.LOGOUT" ng-click="logout()"> Log Out </a> -->
                </li>
            </ul>
        </li>
        <!-- end: USER OPTIONS DROPDOWN -->
    </ul>
    <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
    <div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
    </div>
    <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
</div>
<!-- <a class="sidebar-mobile-toggler dropdown-off-sidebar hidden-md hidden-lg" ng-click="toggle('off-sidebar')"> &nbsp; </a>
<a class="dropdown-off-sidebar hidden-sm hidden-xs" ng-click="toggle('off-sidebar')"> &nbsp; </a> -->
<!-- end: NAVBAR COLLAPSE -->
