<!DOCTYPE html>
<html lang="en" ng-app="myapp" ng-controller="applicationController">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{{app.description}}" />
    <meta property="og:title" content="{{app.title}}" />
    <meta property="og:description" itemprop="description" content="{{app.aboutus_social}}" />
    <meta property="og:image" itemprop="image" content="{{app.logo}}"/>
    <meta property="og:site_name" content="{{app.name}}" />
    <meta property="article:publisher" content="{{app.contactus.facebook}}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{app.name}}" />
    <meta name="fragment" content="!" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{app.title}}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<!--/head-->

<body >
    <!--.preloader-->
    <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
    <!--/.preloader-->
    <header id="home">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(images/slider/1.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Welcome  to  <span>{{app.theme1.name}}</span></h1>
                        <p class="animated fadeInRightBig">{{app.theme1.desciprtion}} </p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(images/slider/2.jpg)">
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Say Hello to <span>{{app.theme2.name}}</span></h1>
                        <p class="animated fadeInRightBig">{{app.theme2.desciprtion}}</p>
                        <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
                    </div>
                </div>
            </div>
            <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
            <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>
        </div>
        <!--/#home-slider-->
        <div class="main-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <h1><img class="img-responsive" src="images/logo_black.png" height="60em" width="60em" alt="logo"></h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#services">Service</a></li>
                        <li class="scroll"><a href="#about-us">About Us</a></li>
                        <li class="scroll"><a href="#portfolio">Portfolio</a></li>
                        <!-- <li class="scroll"><a href="#team">Team</a></li> -->
                        <li class="scroll"><a href="#pricing">Pricing</a></li>
                        <li class="scroll"><a href="#contact">Contact</a></li>
                        <li><a href="http://blog.societyfocus.com">Blog</a></li>
                        <li><a href="http://societyfocus.com/portal">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/#main-nav-->
    </header>
    <!--/#home-->
    <section id="services">
        <div class="container">
            <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="row">
                    <div class="text-center col-sm-8 col-sm-offset-2">
                        <h2>Our Services</h2>
                        <p>{{app.service.title}}</p>
                    </div>
                </div>
            </div>
            <div class="text-center our-services">
                <div class="row">
                    <div ng-repeat="service in app.service.services">
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="service-icon">
                                <i class="fa {{service.image}}"></i>
                            </div>
                            <div class="service-info">
                                <h3>{{service.title}}</h3>
                                <p>{{service.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->
    <section id="about-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2>About us</h2>
                        <p class="">{{app.aboutus_general}}.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <p class="lead">User Experiances</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="95">95%</div>
                            </div>
                        </div>
                        <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
                            <p class="lead">User Support</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="75">75%</div>
                            </div>
                        </div>
                        <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                            <p class="lead">Our Service</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="60">60%</div>
                            </div>
                        </div>
                        <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <p class="lead">Fun</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="85">85%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-us-->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Our Portfolio</h2>
                    <p>{{app.portfolio.title}}</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3" ng-repeat="client in app.portfolio.clients">
                    <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="{{client.img_url}}" alt="">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>{{app.name}}</h3>
                                        <p>{{client.name}}</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                                        <span class="folio-expand"><a href="#contact" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="portfolio-single-wrap">
            <div id="portfolio-single">
            </div>
        </div>
        <!-- /#portfolio-single-wrap -->
    </section>
    <!-- Our ScreenShots-->
    <section id="screenshot">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>ScreenShot</h2>
                    <p>{{app.screenshot.title}}</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" ng-repeat="tag in app.screenshot.tags">
                    <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="folio-image">
                            <img class="img-responsive" ng-src="{{tag.img}}" alt="{{tag.img}}">
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>{{tag.title}}</h3>
                                        <p>{{tag.title}}</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-link"><a class="folio-read-more" ><i class="fa fa-link"></i></a></span>
                                        <span class="folio-expand"><a href="#contact" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="portfolio-single-wrap">
            <div id="screenshot-single">
            </div>
        </div>
        <!-- /#portfolio-single-wrap -->
    </section>
    <!--Our ScreenShots-->
    <!--/#portfolio-->
    <!--
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                    <h2>The Team</h2>
                    <p>{{app.team.title}}</p>
                </div>
            </div>
            <div class="team-members">
                <div class="row">
                    <div class="col-sm-3" ng-repeat="user in app.team.users">
                        <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="member-image">
                                <img class="img-responsive" src="{{user.img_url}}" style="height:263px"  alt="">
                            </div>
                            <div class="member-info">
                                <h3>{{user.name}}</h3>
                                <h4>{{user.designation}}</h4>
                                <p>{{user.description}}</p>
                            </div>
                            <div class="social-icons">
                                <ul>
                                    <li><a class="facebook" href="{{user.fb_link}}"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--/#team-->
    <section id="features" class="parallax">
        <div class="container">
            <div class="row count">
                <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <i class="fa fa-user"></i>
                    <h3 class="timer">{{app.client}}</h3>
                    <p>Happy Clients</p>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <i class="fa fa-desktop"></i>
                    <h3 class="timer">{{app.feedback}}</h3>
                    <p>Our Feedback</p>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
                    <i class="fa fa-trophy"></i>
                    <h3 class="timer">{{app.awards}}</h3>
                    <p>WINNING AWARDS</p>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <i class="fa fa-comment-o"></i>
                    <h3>24/7</h3>
                    <p>Fast Support</p>
                </div>
            </div>
        </div>
    </section>
    <!--/#features-->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                    <h2>Pricing Table</h2>
                    <p>{{app.pricing_title}}</p>
                </div>
            </div>
            <div class="pricing-table">
                <div class="row">
                    <div class="col-sm-4" ng-repeat="price in app.pricing">
                        <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms" ng-class="{featured: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                            <h3>{{price.title}}</h3>
                            <div class="price">
                                &#8377;{{price.price}}<span>/{{price.duration}}</span>
                            </div>
                            <ul>
                                <li>{{price.line1}}</li>
                                <li>{{price.line2}}</li>
                                <li>{{price.line3}}</li>
                                <li>{{price.line4}}</li>
                            </ul>
                            <a href="#contact" class="btn btn-lg btn-primary">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#pricing-->
    <section id="contact">
        <!-- <div id="google-map" class="wow fadeIn" data-latitude="28.478161" data-longitude="77.304633" data-wow-duration="1000ms" data-wow-delay="400ms"></div> -->
        <div id="contact-us" class="parallax">
            <div class="container">
                <div class="row">
                    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2>Contact Us</h2>
                        <p>{{app.contactus.title}}</p>
                    </div>
                </div>
                <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="row">
                        <div class="col-sm-6">
                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" ng-model="feedback.name" placeholder="Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" ng-model="feedback.email" placeholder="Email Address" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Phone No" class="form-control" ng-model="feedback.contactno" placeholder="Phone No" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" ng-model="feedback.subject" placeholder="Subject" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" ng-model="feedback.message" rows="4" placeholder="Enter your message" required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-submit" ng-click="submitFeedback(feedback)">Send Now</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <p>{{app.contactus.description}}</p>
                                <ul class="address">
                                    <li><i class="fa fa-map-marker"></i> <span> Address:</span> {{app.contactus.address}}</li>
                                    <li><i class="fa fa-phone"></i> <span> Phone:</span> {{app.contactus.phone}} </li>
                                    <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:{{app.contactus.email}}"> {{app.contactus.email}}</a></li>
                                    <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="{{app.contactus.website}}">{{app.contactus.website}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#contact-->
    <footer id="footer">
        <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="container text-center">
                <div class="footer-logo">
                    <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
                </div>
                <div class="social-icons">
                    <ul>
                        <!-- <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li> -->
                        <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> -->
                        <!-- <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li> -->
                        <li><a class="facebook" href="{{app.contactus.facebook}}"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <!-- <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>&copy; 2016 {{app.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-74141978-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="js/jquery.inview.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/mousescroll.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>