<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.forms.ELEMENTS">Reset Password</h1>
            <span class="mainDescription">Reset Password</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>

<!-- end: CELL AND ROW TEMPLATE -->
<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
	<div class="row" ng-controller="userController">
		<div class="col-lg-6 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">Reset Password</h5>
                    </div>
                    <div class="panel-body" >
                        <form class="form-login" ng-submit="resetpassword(user)">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    User Email
                                </label>
                                <input type="text" ng-model="user.email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                New Password
                                <input type="text" ng-model="user.password" class="form-control" placeholder="New Password">
                            </div>
                            <div class="form-group">
                                <div class="form-control list-group-item list-group-item-success" ng-if="register_success">
                                    User Password Reset successfully
                                </div>
                            </div>
                            <button type="submit" class="form-group btn btn-o btn-primary">
                                Submit
                            </button>
                            
                        </form>
                    </div>
                </div>
            </div>
	</div>
</div>