<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Search User</h1>
            <span class="mainDescription">Search User</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-controller="userController" class="col-md-12 container-fluid container-fullw bg-white">
    <div ng-show="searchBarShow">
        <div id="searchBar" class="container-fluid container-fullw bg-white col-md-6">
            <fieldset>
                <legend>
                    Search User
                </legend>
                <div class="form-group">
                    <label>
                        User User By Email <span class="symbol required"></span>
                    </label>
                    <div class="form-group">
                        <input type="text" placeholder="User Email" id="form-field-13" class="form-control underline input-sm" ng-model="useremail" />
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" ng-click="searchByEmail()" class="form-group btn btn-o btn-primary">
                            Search
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="container-fluid container-fullw fade-in-up bg-white" ng-init="searchByEmail()">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-12 col-md-12">
                    <fieldset>
                        <legend>
                            User Detail
                        </legend>
                        <div class="panel-body" ng-disabled="true">
                            <div class="table-responsive table-bordered">
                                <table class="table table-hover table-striped">
                                    <thead bgcolor="#d9edf7">
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>Occupation</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>PhoneNo</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in userList">
                                            <td>{{user.firstname}}</td>
                                            <td>{{user.lastname}}</td>
                                            <td>{{user.occupation}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.address}}</td>
                                            <td>{{user.contact_no}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>