<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">View Assets which are booked</h1>
			<span class="mainDescription">You can view all Asset Booking requests which are open in the your society</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>

<div ng-controller="bulkController">
    <input id="uploadFile" placeholder="Choose File" disabled="disabled" class="input-sm" />
<div class="fileUpload btn btn-primary">
    <span>Browse</span>
    <input id="uploadBtn" type="file" class="upload" onchange="fileName(this.value);"/>
</div>
    <button ng-click="uploadFile()" class="btn btn-primary">upload me</button>
</div>