<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Add Subscription</h1>
            <span class="mainDescription">Admin can add society subscriptions here</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- Subscription Addition Form-->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-6 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">Subscription Registration Form</h5>
                    </div>
                    <div class="panel-body" ng-controller="subscriptionController">
                        <form class="form-login" ng-submit="addSubscription()">
                            <div class="form-group">
                                Name
                                <input type="text" ng-model="subscription.name" class="form-control" required="required" placeholder="Name">
                            </div>

                            <div class="form-group">
                                Description<span class="symbol required" />
                                <textarea class="form-control autosize area-animated msd-elastic: \n;" required="required" data-ng-model="subscription.description"></textarea>
                            </div>
                            <div class="form-group">
                                Amount per Day
                                <input type="text" required="required" ng-model="subscription.amount" class="form-control" placeholder="Amount per day">
                            </div>
                            
                            <button type="submit"  class="form-group btn btn-o btn-primary">
                                Submit
                            </button>
                            <div class="form-group alert alert-success fade-in-up" ng-if="subscriptionsuccess">
                                <button data-ct-dismiss="alert" class="close">
                                    &times;
                                </button>
                                <a class="alert-link" href="#"> Your Subscription is registered successfully</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>