<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">View Complaint</h1>
            <span class="mainDescription">View Complaint</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div ng-controller="complaintController">
    
    <div ng-show="searchBarShow">

    <div id="searchBar" class="container-fluid container-fullw bg-white col-md-6">
        <fieldset>
            <legend>
                Search Complaint Id
            </legend>
            <div class="form-group">
                <label>
                    Complaint Id <span class="symbol required"></span>
                </label>
                <div class="form-group">
                    <input type="text" placeholder="Complaint Id" id="form-field-13" class="form-control underline input-sm" ng-model="complaintid" />
                </div>
                <div class="form-group pull-right">
                    <button type="submit" ng-click="searchId()" class="form-group btn btn-o btn-primary">
                        Search
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
      </div>
    <div class="container-fluid container-fullw fade-in-up bg-white"  ng-init="viewComplaintByID()" ng-show="complaint.complaintid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-8 col-md-12">
                    <fieldset>
                        <legend>
                            Complaint Details
                        </legend>
                        <div class="panel-body">
                            <form class="form-login">
                                <div class="form-group">
                                    ID
                                    <input type="text" ng-model="complaint.complaintid" class="input-sm form-control" readonly>
                                </div>
                                <div class="form-group">
                                    Subject
                                    <input type="text" ng-model="complaint.title" class="input-sm form-control" placeholder="Subject">
                                </div>
                                <div class="form-group">
                                    Description
                                    <input type="text" ng-model="complaint.description" class="input-sm form-control" placeholder="Description" readonly>
                                </div>
                                <div class="form-group">
                                    Contact No
                                    <input type="text" ng-model="user.contact_no" class="input-sm form-control" placeholder="Contact No">
                                </div>
                                <div class="form-group">
                                    Email
                                    <input type="text" ng-model="user.email" class="input-sm form-control" placeholder="User Email">
                                </div>
                                <div class="form-group">
                                    Status
                                    <select class="cs-select cs-skin-slide" ng-options="item.value as item. displayname for item in complaint_status" ng-model="complaint.status">
                                    </select>
                                </div>
                                <div class="panel panel-white">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            Add Comments
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <textarea class="form-control autosize area-animated msd-elastic: \n;" data-ng-model="newcomment"></textarea>
                                        </div>
                                        <div class="form-group pull-right">
                                            <button type="submit" ng-click="addComment()" class="form-group btn btn-o btn-primary">
                                                Add Comment
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" ng-click="registerComplaint()" class="form-group btn btn-o btn-primary">
                                        Submit
                                    </button>
                                </div>
                                <div id="comments" ng-repeat="comment in comments">
                                    <br/>
                                    <a class="list-group-item list-group-item-success"> {{comment.comment}} </a>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>