<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">View Complaint</h1>
            <span class="mainDescription">View Complaint</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>

<div  class="container-fluid container-fullw bg-white" ng-controller="complaintController" ng-init="viewComplaintByID()">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-6 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">View Complaint Details</h5>
                    </div>
                    <div class="panel-body">
                        <form class="form-login">
                            <div class="form-group">
                                ID
                                <input type="text" ng-model="complaint.complaintid" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                Subject
                                <input type="text" ng-model="complaint.title" class="form-control" placeholder="Contact No" readonly>
                            </div>
                            <div class="form-group">
                                Description
                                <input type="text" ng-model="complaint.description" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                Contact No
                                <input type="text" ng-model="complaint.phoneno" class="form-control" placeholder="Contact No">
                            </div>
                            <div class="form-group">
                                Email
                                <input type="text" ng-model="complaint.email" class="form-control" placeholder="User Email">
                            </div>
                            <div class="form-group">
                                User
                                <input type="text" ng-model="complaint.user" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                Status
                                <select class="cs-select cs-skin-slide" ng-options="item.value as item.	displayname for item in complaint_status" ng-model="complaint.status">
                                </select>
                            </div>
                            <button type="submit" ng-click="registerComplaint()" class="form-group btn btn-o btn-primary">
                                Submit
                            </button>
                            <div id="comments" ng-repeat="comment in comments">
                                <br/>
                                <a class="list-group-item list-group-item-success" href="#"> {{comment.comment}} </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>