<div class="container-fluid container-fullw">
	<ul class="row">
		<li class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<div class="panel-body">
					<span> <img class="assetImage"  src="resources/images/swimming.png"> </span>
					<h3>Swimmg pool</h3>
				</div>
			</div>
		</li>
		<li class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<div class="panel-body">
					<span> <img class="assetImage" src="resources/images/electrician.jpeg"> </span>
					<h3>Electrician</h3>
				</div>
			</div>
		</li>
		<li class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<div class="panel-body">
					<span> <img class="assetImage"  src="resources/images/banquet.png"> </span>
					<h3>Banquet Hall</h3>
				</div>
			</div>
		</li>
	</ul>
</div>