<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Book Assets</h1>
            <span class="mainDescription">Book from the given asset details</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div class="container-fluid container-fullw" ng-controller="assetController" ng-init="getAllAssets()">
    <ul class="row">
        <div ng-repeat="asset in allassets">
            <li class="col-sm-4">
                <div class="panel panel-white no-radius text-center">
                    <div class="panel-body">
                        <span> <img class="assetImage"  src="{{asset.img_url}}"> </span>
                        <h3>{{asset.description}} </h3>
                    </div>
                </div>
            </li>
        </div>
        <li class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span> <img class="assetImage"  src="resources/images/swimming.png"> </span>
                    <h3>Swimmg pool</h3>
                </div>
            </div>
        </li>
        <li class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span> <img class="assetImage" src="resources/images/electrician.jpeg"> </span>
                    <h3>Electrician</h3>
                </div>
            </div>
        </li>
        <li class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span> <img class="assetImage"  src="resources/images/banquet.png"> </span>
                    <h3>Banquet Hall</h3>
                </div>
            </div>
        </li>
    </ul>
</div>