<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">View Assets which are booked</h1>
			<span class="mainDescription">You can view all Asset Booking requests which are open in the your society</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>


<!-- end: CELL AND ROW TEMPLATE -->
<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h5 class="over-title margin-bottom-15">All AssetsRequest of Society </h5>
			<!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
			<div ng-controller="assetBookingController" ng-init="getAssetRequests()">
				<div class="row margin-bottom-10">
					<div class="col-md-12">
						<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">
							Clear sorting
						</button>
					</div>
				</div>
				<strong>Sorting:</strong> {{tableParams.sorting()|json}}
				<div class="table-responsive">
					<table ng-table="tableParams" class="table">
						<tbody ng-repeat="p in $data">
							<tr id="tr{{p.userid}}" ng-class-odd="'odd'" ng-class-even="'even'">
								<td class="rowTd" data-title="'ID'"          sortable="'id'">{{p.id}}</td>
								<td class="rowTd" data-title="'Asset Description'"          sortable="'id'">{{p.asset.description}}</td>
								<td class="rowTd" data-title="'Description'"   sortable="'description'">{{p.description}}</td>
								<td class="rowTd" data-title="'Contact No'"    sortable="'contactno'">{{p.userId.contact_no}}</td>
								<td class="rowTd" data-title="'Email'" sortable="'email'">{{p.userId.email}}</td>
								<td class="rowTd" data-title="'Charges'" sortable="'charges'">{{p.asset.charges}}</td>
								<td class="rowTd" data-title="'Status'"       sortable="'status'">{{p.status}}</td>
								<td class="rowTd" data-title="'Booked Date'"       sortable="'status'">{{p.startTime  | format:'DD-MMMM-YYYY hh:mm A'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

